h3
  | node.js knockout is a 48-hour coding contest featuring
  a( href: 'http://nodejs.org' ) node.js
  | .

section
  h3
    | node.js knockout 2011 will be
    .dates
      time.start( datetime: '2011-08-27T00:00:00Z' ) August 27
      |  &ndash;
      time.end( datetime: '2011-08-29T00:00:00Z' ) August 29, 2011
  #countdown

#dashboards
  div.twitter-dashboard
    .title Tweets
    ul.user
    ul.search
  div.irc-dashboard
    .title freenode/#nodeknockout
    ul

script#tweet.template(type="text/html")
  li
    img.avatar
    a.name
    .msg

script#irc.template(type="text/html")
  li
    .name
    .msg

script#team.template(type="text/html")
  li
    a.teamname
    .bar
      .progress
      .count
    .message
