- title('Prizes')
:markdown
  # Prizes

  Our sponsors have generously provided a great set of prizes below. [Check out
  the scoring page](/scoring) for details on how winners will be picked.

  ## Overall Winner
  _Team with the best overall score_

  - Node.js Knockout Boxing Gloves -- [meebo]
  - [MacBook Air] (11" 64GB) -- [Bislr], [nodejitsu], [ngmoco], [TradeKing] (one per member)
  - [GitHub Silver plan][GitHub-plan] (1 year) -- [GitHub] (one per member)
  - [Bislr] (6 months) -- [Bislr]
  - $500 [Joyent Cloud] hosting credits -- [Joyent] (one per member)
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9] (one per member)
  - Overall achievement badges -- [coderwall]

  ## Solo Winner

  _One-person team with the best overall score_

  - [MacBook Air] (11" 128GB) -- [Twilio]
  - [GitHub Small plan][GitHub-plan] (1 year) -- [GitHub]
  - $250 [Twilio credit] -- [Twilio]
  - $125 [Joyent Cloud] hosting credits -- [Joyent]
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Solo achievement badges -- [coderwall]
  - $399 5,000 user plan (1 week) - [blitz.io]

  ## Popularity

  _Team with the most votes_

  - [iPad2] -- [PubNub], [Tropo] (one per member)
  - [PostageApp Eagle plan] (6 months) -- [PostageApp] (one per member)
  - $125 [Joyent Cloud] hosting credits -- [Joyent] (one per member)
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Popularity achievement badge -- [coderwall]

  ## Utility / Fun

  _Team with the highest utility / fun score_

  - Choice of [Samsung Galaxy Tab] or [DeLonghi Espresso Maker] -- [Tapjoy], [Scopely], [Sleepless], [Dropbox] (one per member)
  - [Goopymart Mugs] -- [Couchbase]
  - $125 [Joyent Cloud] hosting credits -- [Joyent] (one per member)
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Utility / Fun achievement badge -- [coderwall]

  ## Design

  _Team with the highest design score_

  - [Creative Suite® 5.5 Design Premium] -- [Adobe] (one per member)
  - [Jawbone JAMBOX] -- [Spreecast] (one per member)
  - [GitHub Small plan][GitHub-plan] (1 year) -- [Couchbase] (one per member)
  - $125 [Joyent Cloud] hosting credits -- [Joyent] (one per member)
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Design achievement badge -- [coderwall]

  ## Innovation

  _Team with the highest innovation score_

  - [MetaWatch] -- [SunGard] (one per member)
  - [Arduino Kit v2.0] -- [Joyent]
  - CouchConf tickets -- [Couchbase] (one per member)
  - Shirts & hoodies -- [Geekli.st]
  - $125 [Joyent Cloud] hosting credits -- [Joyent] (one per member)
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Innovation achievement badge -- [coderwall]

  ## Completeness

  _Team with the highest completeness score_

  - [Tumi laptop bag] -- [NodeSocket] (one per member)
  - [Microsoft LifeCam Studio HD] -- [Spreecast] (one per member)
  - [10TB of MaxCDN bandwidth] -- [MaxCDN]
  - $125 [Joyent Cloud] hosting credits -- [Joyent] (one per member)
  - [Pusher Startup plan] (1 year) -- [Pusher]
  - [50GB Dropbox storage] -- [Dropbox]
  - [Cloud9 IDE Premium] (1 year) -- [Cloud9]
  - Completeness achievement badge -- [coderwall]

  [Adobe]: http://www.adobe.com/
  [Bislr]: http://www.bislr.com/ 
  [Cloud9]: http://cloud9ide.com/
  [coderwall]: http://coderwall.com/
  [Couchbase]: http://www.couchbase.com/
  [Dropbox]: http://www.dropbox.com/
  [GitHub]: https://github.com/
  [Geekli.st]: http://geekli.st/
  [iPad2]: http://www.apple.com/ipad/
  [Joyent]: http://www.joyent.com/
  [Linode]: http://www.linode.com/index.cfm
  [MaxCDN]: http://maxcdn.com/
  [meebo]: http://www.meebo.com/
  [ngmoco]: http://blog.ngmoco.com/
  [nodejitsu]: http://www.nodejitsu.com/
  [NodeSocket]: http://www.nodesocket.com/
  [PostageApp]: http://postageapp.com/
  [PubNub]: http://www.pubnub.com/
  [Pusher]: http://pusher.com/
  [Scopely]: http://jobs.scopely.com/
  [Sleepless]: http://sleepless.com/
  [Spreecast]: http://spreecast.com/
  [SunGard]: http://sungard.com/
  [Tapjoy]: https://www.tapjoy.com/
  [TradeKing]: http://www.tradeking.com/
  [Tropo]: https://www.tropo.com/home.jsp
  [Twilio]: http://www.twilio.com/
  [blitz.io]: http://blitz.io/

  [10TB of MaxCDN bandwidth]: http://www.maxcdn.com/pricing
  [50GB Dropbox storage]: https://www.dropbox.com/pricing
  [Arduino Kit v2.0]: http://www.makershed.com/ProductDetails.asp?ProductCode=MSGSA
  [Cloud9 IDE Premium]: http://cloud9ide.com/pricing.html
  [Creative Suite® 5.5 Design Premium]: http://www.adobe.com/products/creativesuite/design.html
  [DeLonghi Espresso Maker]: http://www.delonghi.com/us_en/products/ec-702/
  [GitHub-plan]: https://github.com/plans
  [Goopymart Mugs]: http://www.cafepress.com/+goopymart+mugs
  [Jawbone JAMBOX]: http://jawbone.com/speakers/jambox/overview
  [Joyent Cloud]: http://www.joyent.com/products/
  [MacBook Air]: http://www.apple.com/macbookair/
  [MetaWatch]: http://www.metawatch.org/
  [Microsoft LifeCam Studio HD]: http://www.amazon.com/dp/B0042X8NT6
  [Node.js Knockout Boxing Gloves]: #
  [PostageApp Eagle plan]: https://secure.postageapp.com/register
  [Pusher Startup plan]: http://pusher.com/pricing
  [Samsung Galaxy Tab]: http://www.samsung.com/us/mobile/galaxy-tab/GT-P1010CWAXAR
  [Tumi laptop bag]: http://www.tumi.com/product/index.jsp?productId=4209925&prodFindSrc=paramNav
  [Twilio credit]: http://www.twilio.com/pricing/
