h1= title((typeof(subset) === 'undefined' ? '': subset + ' ') + 'Judges') + ' (' + judges.length + ')'

ul.judges
  - each judge in judges
    li
      img.avatar( src: avatar_url(judge, 80) )
      h3: a( href: '/people/' + judge.slug )= judge.name
      != partial('people/details', { person: judge })
      .bio!= markdown(judge.bio)
