table
  tr
    - each d in Vote.dimensions
      th: label( for: d )= Vote.label(d)
  tr.stars
    - each d in Vote.dimensions
      td: input( name: d, id: d, type: 'range', min: 0, max: 5,
        value: vote[d] || 0
        disabled: !vote.isNew )
  tr: td( colspan: 4 )
    textarea.edit( name: 'comment',
              placeholder: 'Be awesome. Give some feedback.'
            )= vote.comment
    - if (!vote.isNew)
      .comment.view!= markdown(vote.comment)
      input.edit( type: 'submit', value: 'Save' )
      | 
      a.edit.change( href: '#' ) Cancel
    - else
      input.scary( type: 'submit', value: 'Vote' )
