li.vote
  != partial('info', { vote: vote })
  - if (vote.type === 'voter')
    .heart ♥
  - else
    table
      tr
        - each d in Vote.dimensions
          th: label( for: d )= Vote.label(d)
      tr.stars
        - each d in Vote.dimensions
          td!= stars(vote[d])
      tr: td( colspan: 4 )
        .comment!= markdown(vote.comment)
