:markdown
  Feel free to fill out this information any time before coding ends. Use
  it to help judges get an idea of what you've accomplished. [Markdown][1] ok
  for all fields.

  [1]: http://daringfireball.net/projects/markdown/syntax

.name
  h3: label( for: 'entryName' ) Entry Name
  input( type: 'text', name: 'entry[name]', id: 'entryName', value: entry.name, placeholder: 'Name your creation' )

- if (admin)
  .name
    h3: label( for: 'entryURL' ) Entry URL
    input( type: 'text', name: 'entry[url]', id: 'entryURL', value: entry.url )

.description
  h3: label( for: 'entryDescription' ) Description
  p.note
    | What does your entry do?
  textarea( name: 'entry[description]', id: 'entryDescription' )= entry.description

.instructions
  h3: label( for: 'entryInstructions' ) Instructions
  p.note
    | Give judges a summary of how to use your entry.
    b If your entry only works on certain browsers list them here.
  textarea( name: 'entry[instructions]', id: 'entryInstructions' )= entry.instructions

.colophon
  h3: label( for: 'entryColophon' ) Colophon
  p.note
    | What libraries, icons, web service APIs, and tools did you use?
  textarea( name: 'entry[colophon]', id: 'entryColophon' )= entry.colophon

- if (admin)
  .votable
    input( type: 'hidden', name: 'entry[votable]', value: 0 )
    input( type: 'checkbox', name: 'entry[votable]', id: 'entryVotable', checked: entry.votable )
    label( for: 'entryVotable' ) Yes! I want judges to vote on my entry.
    p.note
      | Uncheck this box if your entry isn't ready to be judged when the
      | competition ends.

.technical
  input( type: 'hidden', name: 'entry[technical]', value: 0 )
  input( type: 'checkbox', name: 'entry[technical]', id: 'entryTechnical', checked: entry.technical )
  label( for: 'entryTechnical' )!= "I'd prefer <a href='/judges/technical'>technical judges</a>."
  p.note
    | Please only select this box if your entry cannot be evaluated fairly
    | by non-technical judges.
