- title('Live dashboard')
a#make-dashboard-fullscreen.button Fullscreen
h1 Live dashboard

#dashboards.livepage
  div.twitter-dashboard
    ul.user
    ul.search
  div.irc-dashboard
    .title #node.js@freenode
    ul

//h1 Github commits
//div.github-commits
//  ul
script#tweet.template(type="text/html")
  li
    img.avatar
    a.name
    .msg

script#irc.template(type="text/html")
  li
    .name
    .msg

script#team.template(type="text/html")
  li
    a.teamname
    .bar
      .progress
      .count
    .message